In [3]:
print("hello")

hello

In [4]:
import pandas as pd

In [5]:
file_df = pd.read_excel("D:\Temp\Duplicates.xlsx")

In [6]:
print(file_df)

Name                Address  Call Date                 Notes
0   Barbara Walters      301 Wilshire BLvd 2018-10-12                   NaN
1             Apple        1 Apple ParkWay 2018-10-13            Great call
2             Apple        1 Apple ParkWay 2018-10-13             Good Call
3             Apple        1 Apple ParkWay 2018-10-13             Okay Call
4             Apple        1 Apple ParkWay 2018-10-15  They loved the pitch
5    Lauren Shuster  255 E Grossman Avenue 2018-10-16                   NaN
6         Bob Scott         42 Wallaby Way 2018-10-17     Bought golf clubs
7   Albert Einstein       6 Princeton Blvd 2018-10-18      Too smart for me
8     Romelo Lukaku      234 Golf Court Rd 2018-10-19                   NaN
9   Natalie Portman  17 Beverly Hills Road 2018-10-20                   NaN
10      Gareth Bale     190 E Suffix Drive 2018-10-21          Great accent
11      Gareth Bale     190 E Suffix Drive 2018-10-21                   NaN
12     Jackson Pool         491 1st Street 2018-10-23                   NaN
13  Natalie Portman  17 Beverly Hills Road 2018-10-20             Very kind

In [7]:
file_df_first_record = file_df.drop_duplicates(subset=["Name", "Address", "Call Date"], keep="first")
print(file_df_first_record)

Name                Address  Call Date                 Notes
0   Barbara Walters      301 Wilshire BLvd 2018-10-12                   NaN
1             Apple        1 Apple ParkWay 2018-10-13            Great call
4             Apple        1 Apple ParkWay 2018-10-15  They loved the pitch
5    Lauren Shuster  255 E Grossman Avenue 2018-10-16                   NaN
6         Bob Scott         42 Wallaby Way 2018-10-17     Bought golf clubs
7   Albert Einstein       6 Princeton Blvd 2018-10-18      Too smart for me
8     Romelo Lukaku      234 Golf Court Rd 2018-10-19                   NaN
9   Natalie Portman  17 Beverly Hills Road 2018-10-20                   NaN
10      Gareth Bale     190 E Suffix Drive 2018-10-21          Great accent
12     Jackson Pool         491 1st Street 2018-10-23                   NaN

In [8]:
file_df_last_record = file_df.drop_duplicates(subset=["Name", "Address", "Call Date"], keep="last")
print(file_df_last_record)

Name                Address  Call Date                 Notes
0   Barbara Walters      301 Wilshire BLvd 2018-10-12                   NaN
3             Apple        1 Apple ParkWay 2018-10-13             Okay Call
4             Apple        1 Apple ParkWay 2018-10-15  They loved the pitch
5    Lauren Shuster  255 E Grossman Avenue 2018-10-16                   NaN
6         Bob Scott         42 Wallaby Way 2018-10-17     Bought golf clubs
7   Albert Einstein       6 Princeton Blvd 2018-10-18      Too smart for me
8     Romelo Lukaku      234 Golf Court Rd 2018-10-19                   NaN
11      Gareth Bale     190 E Suffix Drive 2018-10-21                   NaN
12     Jackson Pool         491 1st Street 2018-10-23                   NaN
13  Natalie Portman  17 Beverly Hills Road 2018-10-20             Very kind

In [10]:
file_df_last_record.to_excel("Duplicates_Last_Record.xlsx", index=False)

In [11]:
file_df_remove_all = file_df.drop_duplicates(subset=["Name", "Address", "Call Date"], keep=False)
print(file_df_remove_all)

Name                Address  Call Date                 Notes
0   Barbara Walters      301 Wilshire BLvd 2018-10-12                   NaN
4             Apple        1 Apple ParkWay 2018-10-15  They loved the pitch
5    Lauren Shuster  255 E Grossman Avenue 2018-10-16                   NaN
6         Bob Scott         42 Wallaby Way 2018-10-17     Bought golf clubs
7   Albert Einstein       6 Princeton Blvd 2018-10-18      Too smart for me
8     Romelo Lukaku      234 Golf Court Rd 2018-10-19                   NaN
12     Jackson Pool         491 1st Street 2018-10-23                   NaN

In [12]:
file_df_remove_all.to_excel("Duplicates_All_Removed.xlsx", index=False)

In [13]:
duplicate_row_index = file_df.duplicated(subset=["Name", "Address", "Call Date"], keep=False)
print(duplicate_row_index)

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13     True
dtype: bool

In [14]:
all_duplicate_rows = file_df[duplicate_row_index]
print(all_duplicate_rows)

Name                Address  Call Date         Notes
1             Apple        1 Apple ParkWay 2018-10-13    Great call
2             Apple        1 Apple ParkWay 2018-10-13     Good Call
3             Apple        1 Apple ParkWay 2018-10-13     Okay Call
9   Natalie Portman  17 Beverly Hills Road 2018-10-20           NaN
10      Gareth Bale     190 E Suffix Drive 2018-10-21  Great accent
11      Gareth Bale     190 E Suffix Drive 2018-10-21           NaN
13  Natalie Portman  17 Beverly Hills Road 2018-10-20     Very kind